<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productordersuit>
            <general>
                <active>0</active>
                <order_active>0</order_active>
                <salable_qty_message>HURRY UP!!! ONLY %u LEFT</salable_qty_message>
                <order_count_message>LAST  %u DAYS %u  ORDER GOT PLACED</order_count_message>
                <salable_qty_alert_value>10</salable_qty_alert_value>
                <order_count_message_alert_value>15</order_count_message_alert_value>
                <eligible_orders_for_product>1</eligible_orders_for_product>
                <product_finder_enabled>0</product_finder_enabled>
            </general>
        </productordersuit>
    </default>
</config>
