<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codilar" translate="label" sortOrder="500">
            <label>Codilar</label>
        </tab>
        <section id="productordersuit" translate="label" type="text" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Order Suit</label>
            <tab>codilar</tab>
            <resource>Codilar_ProductOrderSuit::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Enable ProductOrderSuit</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="salable_qty_message" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Salable Qty Message</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="order_count_message" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Product Ordered Message</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="product_finder_enabled" translate="label" type="select" sortOrder="28" showInDefault="1">
                    <label>Enable Product Finder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="question_to_show" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Product Finder Question Id to show in Frontend</label>
                </field>
            </group>
        </section>
    </system>
</config>
