<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codilar" translate="label" sortOrder="500">
            <label>CODILAR</label>
        </tab>
        <section id="productordersuit" translate="label" type="text" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>ProductOrderSuit</label>
            <tab>codilar</tab>
            <resource>Codilar_ProductOrderSuit::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Enable Salable Quantity Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="salable_qty_message" translate="label" type="text" sortOrder="11" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Salable Quantity Message</label>
                    <comment>
                        <![CDATA[
                         add message to show quantity left
                     <br />
                        e.g.,HURRY UP!!! ONLY %u LEFT -- HURRY UP!!! ONLY 25 LEFT
                    ]]>
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="salable_qty_alert_value" translate="label" type="text" sortOrder="13" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Alert from Quantity</label>
                    <comment>
                        <![CDATA[
                         Add value on reaching particular quantity
                    ]]>
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="order_active" translate="label" type="select" sortOrder="13" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Enable Order Count Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_count_message" translate="label" type="text" sortOrder="14" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Product Ordered Message</label>
                    <comment>
                        <![CDATA[
                         add message to show count of order placed in number of days
                     <br />
                        e.g.,LAST  15 DAYS %u  ORDER GOT PLACED - LAST  15 DAYS 50  ORDER GOT PLACED
                    ]]>
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="order_count_message_alert_value" translate="label" type="text" sortOrder="15"
                       showInDefault="1" showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Order Since Number of Days</label>
                    <comment>
                        <![CDATA[
                         add value to get order since number of days
                     <br />
                        e.g., for past 15days order: -- 15
                    ]]>
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="eligible_orders_for_product" translate="label" type="text" sortOrder="16" showInDefault="1"
                       showInWebsite="1" canRestore="1" showInStore="1">
                    <label>Eligible Number of Order Per product</label>
                    <comment>
                        <![CDATA[
                         Add value to show message only on  number of order placed
                    ]]>
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="product_finder_enabled" translate="label" type="select" sortOrder="28" showInDefault="1">
                    <label>Enable Product Finder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="question_to_show" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Product Finder Question Id to show in Frontend</label>
                </field>
            </group>
        </section>
    </system>
</config>
